.w-chat-box {
  position: relative;
  padding: 0.3em;
}
.w-chat-selector {
  display: table;
  width: 100%;
}
.w-chat-selector > div {
  display: table-cell;
  width: 25%;
}
.w-chat-selector > div > select {
  width: 100%;
  border: 1px solid lightgray;
  margin: 0;
  padding: 0;
}
.w-chat-view-user, 
.w-chat-view-votes {
  cursor: pointer;
  text-align: center;
  border: 1px solid lightgray;
}
.w-chat-box > div,
.w-chat-phase-status > div > div {
  display: table;
  width: 100%;
  height: 100%;
}
.w-chat-log-box, 
.w-chat-selector-box, 
.w-chat-insert-box,
.w-chat-phase-status {
  display: table-row;
}
.w-chat-log-box > div, 
.w-chat-selector-box > div, 
.w-chat-insert-box > div,
.w-chat-phase-status > div,
.w-chat-phase-status > div > div > div {
  display: table-cell;
  position: relative;
}
.w-chat-log-box {
  height: 100%;
}
.w-chat-phase-status {
  font-size: 0.8em;
}
.w-chat-phase-status > div {
  border-bottom: 1px solid lightgray;
}
.w-chat-phase-status > div > div > div:nth-child(2n) {
  text-align: right;
}
.w-chat-phase-status > div > div > div:nth-child(2n+1):not(:first-child) {
  padding-left: 0.75em;
}
.w-chat-phase-status > div > div > div:nth-child(2n):not(:last-child) {
  padding-right: 0.75em;
  border-right: 1px solid lightgray;
}
