.w-box-game-view {
    display: table;
    width: 100%;
    height: 100%;
  }
  .w-box-game-view > div {
    display: table-cell;
    vertical-align: top;
    position: relative;
  }
  .w-box-voting {
      width: 15em;
  }