html,
body,
body > div:first-of-type,
.w-lobby-game
{
  height: 100%;
  overflow-x: hidden;
}
body > div:first-of-type {
  display: table;
  width: 100%;
  height: 100%;
}
.w-lobby-game,
.w-lobby-selector {
  display: table-row;
}
.w-lobby-gameview,
.w-lobby-selector-bar {
  display: table-cell;
}