RewriteEngine on
RewriteRule ^db/?(.*)$ - [L,R=403]
RewriteRule ^logic/?(.*)$ - [L,R=403]
RewriteRule ^(ui)?/?$ ui/index/ [L,QSA]
RewriteRule ^ui/([a-zA-Z0-9]*)/?$ ui/$1/index.php [L,QSA]
RewriteRule ^ui/manifest.json$ ui/manifest.json.php [L,QSA]