# special header for elm reactor on port 8000 (only for debug)
Header add "Access-Control-Allow-Origin" "http://localhost:8000/"

RewriteEngine on
RewriteRule ^db/?(.*)$ - [L,R=403]
RewriteRule ^logic/?(.*)$ - [L,R=403]
RewriteRule ^(ui)?/?$ ui/index/ [L,QSA]
RewriteRule ^ui/([a-zA-Z0-9]*)/?$ ui/$1/index.php [L,QSA]
RewriteRule ^ui/manifest.json$ ui/manifest.json.php [L,QSA]