body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.main-window {
	display: table;
	width: 100vw;
	height: 100vh;
	background-color: #6c3213;
}
.main-window > div {
	display: table-row;
}
.main-window > div > div {
	display: table-cell;
}
.top-bar {
	height: 1px;
	border-bottom: 2px solid #301203;
	position: relative;
}
.top-bar > div {
	display: table;
	width: 100%;
	height: 100%;
}
.top-bar > div > div {
	display: table-cell;
}
.user-change-button, .game-options {
	width: 1px;
	height: 2em;
	width: 2em;
	padding: 0.2em 0.5em;
	background-color: #c35b22;
	transition: background-color 0.3s;
	cursor: pointer;
}
.user-change-button:hover, .game-options:hover {
	background-color: #ff7a33;
}
.main-content {
	position: relative;
}

/*loading*/

.loading-frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.loading-frame > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}
.loading-frame > div > div {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: #c35b22;
	margin: 0 0.5em;
	animation-name: loading-frame-frames;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-direction: normal;
}
.loading-frame > div > div:nth-child(1) { animation-delay: 0s }
.loading-frame > div > div:nth-child(2) { animation-delay: 0.25s }
.loading-frame > div > div:nth-child(3) { animation-delay: 0.5s }
@keyframes loading-frame-frames {
	0%   { transform: translate(0, 0); }
	80%  { transform: translate(0, 0); }
	90%  { transform: translate(0, -2em); }
	97%  { transform: translate(0, 1em); }
	100% { transform: translate(0, 0); }
}

/*tabs*/

.tab-list {
	position: relative;
}
.tab-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 2.4em;
	padding: 0.1em 0.5em 0;
	white-space: nowrap;
	overflow: hidden;
}
.tab-button {
	z-index: 2;
	position: relative;
	padding: 0 0.2em;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.3em;
}
.tab-button:before {
	content: "";
	position: absolute;
	border-left: 3px solid #c35b22;
	border-top: 3px solid #c35b22;
	border-right: 3px solid #c35b22;
	background-color: #6c3213;
	top: -60%;
	bottom: -49%;
	left: -3%;
	right: -3%;
	z-index: -1;
	-webkit-transform: perspective(20em) rotateX(60deg);
	transform: perspective(20em) rotatex(60deg);
	transition: background-color 0.1s;
}
.tab-button.active {
	z-index: 5;
}
.tab-button.active:before {
	background-color: #c35b22;
}
.tab-button:hover:before {
	background-color: #ff7a33;
	border-color: #ff7a33;
}

/*new game*/

.v-container, .h-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.new-game-box {
	margin: 1em;
	border: 1px solid #c35b22;
	border-radius: 1em;
	padding: 1em;
	background-color: transparent;
	transition: background-color 0.3s;
}
.new-game-box:hover {
	background-color:#823c17;
}
.new-game-box  h2 {
	margin: 0 0 1em 0;
	text-decoration: underline;
}
.new-game-box .input-group {
	position: relative;
	padding: 0 0 0.5em 0;
}
.new-game-box span, .new-game-box input {
	display: block;
	width: 100%;
	padding: 0.2em 0;
}
.new-game-box input {
	font-size: 1.2em;
	padding: 0.1em;
}
.new-game-box .ui-button {
	display: block;
	margin: 1em 0 0 0;
	text-align: center;
	background-color: #c35b22;
	cursor: pointer;
	font-size: 1.4em;
	font-weight: bold;
	transition: background-color 0.3s;
	padding: 0.5em 0;
	border-radius: 0.5em;
}
.new-game-box .ui-button:hover {
	background-color: #ff7a33;
}

/*game user frame*/

.game-user-frame {
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
}
.game-user-frame > div{
	display: table;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.game-user-frame > div > div{
	display: table-cell;
	position: relative;
}
.user-frame {
	max-width: 30em;
	width: 25%;
	border-right: 2px solid #301203;
}
.user-entry {
    border: 1px solid #301203;
    margin: 0.1em;
    padding: 0.1em 0.3em;
}
.user-entry.current {
	background-color: #c35b22;
}
.user-name {
    font-weight: bold;
    font-size: 1.1em;
}
.user-roles {
    padding-left: 0.6em;
}
.input-group {
	position: relative;
}
.role-table {
	display: table;
	width: 100%;
}
.role-setting {
	display: table-row;
}
.role-setting > * {
	display: table-cell;
}
.role-setting > *:nth-child(1) {
	width: 1px;
	padding-right: 1em;
}
.role-setting.inliner > div > div {
	display: inline;
	font-weight: bold;
	font-size: 1.1em;
}

/*text chat*/
.h-container {
	white-space: nowrap;
	overflow-y: hidden;
}
.h-container-i {
	height: 100%;
}
.chat-room-box {
	display: inline-table;
	position: relative;
	height: 100%;
	border-right: 2px solid #301203;
	max-width: 100%;
	width: 20em;
}
.chat-room-box > div {
	display: table-row;
}
.chat-room-box > div:not(:nth-child(2)) {
	height: 1px;
}
.chat-room-box > div > div{
	display: table-cell;
	position: relative;
}
.chat-room-box .ui-button {
	cursor: pointer;
}
.chat-room-header, .chat-room-textbox {
	display: table;
	width: 100%;
	background-color: #c35b22;
}
.chat-room-header > div,
.chat-room-textbox > * {
	display: table-cell;
	vertical-align: middle;
}
.chat-room-header > div:not(:nth-child(2)),
.chat-room-textbox > div {
	width: 1px;
}
.chat-room-textbox textarea {
	width: 100%;
	height: 5em;
	font-family: inherit;
}
.chat-room-header > div:nth-child(2) {
	font-size: 1.4em;
	padding: 0 0.4em;
}
.chat-room-header img,
.chat-room-textbox img {
	height: 1.8em;
}
.chat-room-box.open .chat-room-header {
	font-weight: bold;
}
.chat-room-box.readonly .chat-room-textbox,
.chat-room-box:not(.open) .chat-room-textbox {
	display: none;
}
.chat-room-chats-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: normal;
	overflow: hidden;
}
.chat-single-entry {
    border: 1px solid #301203;
    margin: 0.2em;
    padding: 0.2em;
}
.chat-single-entry-date {
    display: inline;
    font-style: italic;
    float: right;
	padding-left: 1em;
}
.chat-single-entry-header {
    border-bottom: 1px solid #301203;
    font-size: 0.8em;
}
.chat-single-entry-name {
    display: inline;
}
.chat-single-entry-text {
	white-space: pre-wrap;
}
.chat-room-box.view-poll .chat-room-header > div:nth-child(3) {
	background-color: #ff7a33;
}

/*vote box*/
.vote-box {
	background-color: rgba(108, 50, 19, 0.82);
	padding: 0.3em;
    width: unset;
	transform: translate(0, -100%);
	transition: transform 0.3s;
}
.vote-box .ui-button {
    border: 1px solid black;
    padding: 0.3em;
    margin: 0.5em;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
	transition: background-color 0.3s;
}
.chat-room-box.view-poll .vote-box {
	transform: translate(0, 0);
}
.vote-box .ui-button:hover {
	background-color: #c35b22;
}
.cur-vote-bar {
    border: 1px solid black;
    height: 0.7em;
    margin: 0.55em 0.55em 1em 0.55em;
    position: relative;
}
.cur-vote-bar > div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #c35b22;
	transition: width 1s;
}










